aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
audioop-lts==0.2.2
dotenv==0.9.9
ffmpeg-python==0.2.0
frozenlist==1.8.0
future==1.0.0
idna==3.13
imageio-ffmpeg==0.6.0
multidict==6.7.1
propcache==0.4.1
py-cord==2.6.1
python-dotenv==1.2.2
tabulate==0.10.0
yarl==1.23.0
